<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>JUST SQUARES</title>
        <meta name="description" content="This game is an Webgl FPS multiplayer game realised for learn Babylonjs!" />
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        <canvas id="renderCanvas"></canvas>
        <%= htmlWebpackPlugin.tags.bodyTags %>
    </body>
</html>